// color.scss


$wireColor : (#ddd, #ccc, #bbb, #aaa, #999, #888, #777, #666);

$white : #fff;
$black : #161411;
$textGray : #444;
$darkNavy : #12151c;
$tableOutBorder : #8c441d;
$brown : #331302;
$brown2 : #8c441d;
$lightGray : #f0f0f0;